body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  display: inline-block;
}

h1 {
  font-size: 1.5em;
  padding: 1em;
}

h2 {
  font-size: 1.2em;
  padding: 1em;
  color: #8B4513;
  border-bottom-color: #8B4513;
}

ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}

li {
  float: left;
  width: 25%;
  height: 100px;
  outline: 0px solid #222222;
  text-align: center;
  line-height: 100px;
  color: gray;
  background: white;
  }
}

div {
  padding: 4px;
}
@media (max-width: 800px) {
   nav {
      width: 0%;
      font-size: 1.2em;
      float: right;

   }
   img {
      width: 800px;
   }
}
#about{
     font-size: 1.2em;
     width: 30%;
   }
}

@media (max-width: 800px) {
   nav {
      width: 100%;
     background: white;
   }
   nav a {
      margin: 0 3em 1.2em .5em;
   }
  img {
    padding-top: 2em;
    width: 250px;
    display: inline-block;
    }
  #about, #services {
      width: 90%;
      padding: 1em;
      margin: 0 1em;
   }
  #services {
    margin-bottom: 1.5em;
    padding: 1em;
    }
   #li {
    width: 95%;
     outline-width: 0em;
     height: 2em;
     line-height: 1em;
     padding: 1em;
   }
}
footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}
img {

  display: block;
  margin: 0 auto;
  clear: both;
  width: 1200px;
}

#hero {
  background: #ffffff;
}

section {
  background: #ffffff;
  color: gray;
  overflow: auto;
}

#about {
   font-size: 1.2em;
   width: 30%;
   display: inline-block;
}

#services {
   font-size: 1.2em;
   width: 30%;
   float: right;
}

@media (max-width: 800px) {
  nav {
   width: 70%;
  }
}
